body {
    margin: 0;
    display: flex;
    color:#2D3E40;
    font-family: 'Philosopher', sans-serif;
    background-color: #f0f0f0;
  }

  #buttonContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #669995;
    width: 350px; /* Adjust the width of the fixed column as needed */
    background-color: #E4F2E7; /* Optional: Set a background color for the fixed column */
    position: fixed;    
  }

  #serverResponse {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    flex: 1;
    margin-left: 250px; /* Set to the width of the fixed column */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }

  button#startRecording {
    width: 100px;
    height: 100px;
    z-index: 1;
    /* align-self: center; */
    /* margin-top: 100%; */
    border: 2px solid #387373;
    border-radius: 50%;
    background-color: #93BFB7;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px 0px #93BFB7, 0 0 5px 5px #93BFB7;
    transition: all 15ms ease-in-out;
    margin-bottom: 10px;
}

button#startRecording:hover {
    background-color: #387373;
    box-shadow: 0 0 14px 14px #387373;
    /* transition: background-color 0.2s; */
}

button#startRecording.button-recording {
    z-index: 1;
    background-color: #387373;
    box-shadow: 0 0 14px 14px #387373;
}

.material-symbols-outlined {
    font-size: 50px !important;
    position: absolute;
    z-index: 4;
}


#startRecording:after {
    position: relative;
    z-index: 3;
    content: "";
    top: 50%; /* Start from the vertical center */
    left: 50%; /* Start from the horizontal center */
    width: 0px;
    height: 0px;
    background: #0A808A;
    box-shadow: 0 0 0 0 #0A808A;
    border-radius: 50%; /* Ensures it remains a circle */
    transition: all 0s; /* Change transition to 'all' to cover width, height, and position */
    transform: translate(-50%, -50%); /* Center the element */

  }
  
#startRecording.button-recording:after{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #93BFB7;
    box-shadow: 0 0 20px 20px #93BFB7;
    transition: all 2s linear;
  }

#hint {
    cursor: pointer;
    margin-top: 90vh;
    position: absolute;
  }

#commandsList {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 30%;
    transform: translateX(-50%);
    padding: 10px;
  }

#hint ul {
    list-style: none;
    display: grid;
    gap: 1em;
}
  
#hint:hover #commandsList {
    display: block;
  }


#serverResponse {
    white-space: pre-wrap;
  }

#start {
    font-size: 3em;
}