body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #d3267f, #9890e3, #b1f4cf);
    text-align: center;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-top: 16vh;
    margin-bottom: 10vh;
}

#buttonContainer {
    position: relative;
    width:100px;
    height:100px;
    margin-bottom: 10vh;
}

button#startRecording {
    width: 100px;
    height: 100px;
    z-index: 1;
    border: 2px solid #ffaa00;
    border-radius: 50%;
    background-color: #fb1;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px 0px #fb1, 0 0 5px 5px #fb1;
    transition: all 15ms ease-in-out;
}

button#startRecording:hover {
    background-color: #ffaa00;
    box-shadow: 0 0 14px 14px #ffaa00;
    /* transition: background-color 0.2s; */
}

button#startRecording.button-recording {
    z-index: 1;
    background-color: #ffaa00;
    box-shadow: 0 0 14px 14px #ffaa00;
}

.material-symbols-outlined {
    font-size: 50px !important;
    position: absolute;
    z-index: 4;
}


#startRecording:after {
    position: relative;
    z-index: 3;
    content: "";
    top: 50%; /* Start from the vertical center */
    left: 50%; /* Start from the horizontal center */
    width: 0px;
    height: 0px;
    background: #ff5515;
    box-shadow: 0 0 0 0 #ff5515;
    border-radius: 50%; /* Ensures it remains a circle */
    transition: all 0s; /* Change transition to 'all' to cover width, height, and position */
    transform: translate(-50%, -50%); /* Center the element */

  }
  
  
#startRecording.button-recording:after{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff003b;
    box-shadow: 0 0 20px 20px #ff003b;
    transition: all 2s linear;
  }

  #serverResponse {
    white-space: pre-wrap;
  }

  p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 5%;
}
