<!DOCTYPE html>
<html>
<head>
    <title>Классификатор Команд</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link type="text/css" href="{{ url_for('static', filename='style_dry.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,600,1,0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

</head>
<body>
    <div id="buttonContainer">
        <button id="startRecording">
            <span class="material-symbols-outlined">
                mic
                </span>
        </button>
        <div id="hint">Список команд
            <div id="commandsList">
                <ul>
                <li>Сегодня</li>
                <li>Завтра</li>
                <li>Новости</li>                
                </ul>
            </div>
        </div>
    </div>

    <div id="serverResponse">
        <div><p id="start">Нажмите на кнопку и скажите команду</p></div> <!-- ← -->>
    </div>
    
</body>
<script>

    function sendData(data) {
        var form = new FormData();
        form.append('file', data, 'data.mp3');
        form.append('title', 'data.mp3');
        //Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            url: '/',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
        });
    }
    let rec;
    let audioChunks = null;
    let audioStream = null;
    const startRecordingButton = document.getElementById('startRecording');
    const serverResponseElement = document.getElementById('serverResponse');
    const recordingDuration = 2000; // 2 seconds

    
    startRecordingButton.addEventListener('click', () => {
        startRecordingButton.disabled = true;
        audioChunks = [];

        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                audioStream = stream;
                rec = new MediaRecorder(stream);
                rec.ondataavailable = e => {
                    audioChunks.push(e.data);
                    if (rec.state == "inactive") {
                        let blob = new Blob(audioChunks, { type: 'audio/wav' });

                        // Send the recorded audio to the server
                        const formData = new FormData();
                        formData.append('file', blob, 'data.wav');

                        fetch('/', {
                            method: 'POST',
                            body: formData,
                        })
                        .then(response => response.text())
                        .then(data => {
                            // Update the content of the serverResponse element with the server's response
                            serverResponseElement.innerHTML = data;
                        })
                        .catch(error => {
                            console.error('Error sending the audio:', error);
                        });
                    }
                };
                rec.start();
            })
            .catch(error => {
                console.error('Error accessing microphone:', error);
                startRecordingButton.disabled = false;
            });
            
        startRecordingButton.classList.add("button-recording");

        setTimeout(() => {
            if (rec) {
                rec.stop();
            }
            if (audioStream) {
                // Stop the audio stream and release resources
                audioStream.getTracks().forEach(track => track.stop());
            }
            startRecordingButton.disabled = false;
            startRecordingButton.classList.remove("button-recording");
            // startRecordingFilling.classList.remove("fill");
        }, recordingDuration);
    });
    document.addEventListener('DOMContentLoaded', function() {
        var hint = document.getElementById('hint');
        var commandsList = document.getElementById('commandsList');

        hint.addEventListener('click', function() {
            // Toggle the display of commandsList on click
            if (commandsList.style.display === 'block') {
                commandsList.style.display = 'none';
            } else {
                commandsList.style.display = 'block';
            }
        });
    });

</script>
</html>