<!DOCTYPE html>
<html>
<head>
    <title>Simple Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link type="text/css" href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,600,1,0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Command!</h1>

    <form action="/" method="POST">
        <button id="startRecording">
            <span class="material-symbols-outlined">
                mic
                </span>
        </button>
    </form>

    <p>{{ answer }}</p>
</body>
<script>

    function sendData(data) {
        var form = new FormData();
        form.append('file', data, 'data.mp3');
        form.append('title', 'data.mp3');
        //Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            url: '/save-record',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
        });
    }
    let rec;
    let audioChunks = null;
    let audioStream = null;
    const startRecordingButton = document.getElementById('startRecording');
    const recordingDuration = 2000; // 2 seconds


    startRecordingButton.addEventListener('click', () => {
        startRecordingButton.disabled = true;
        audioChunks = [];
        
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                audioStream = stream;   
                rec = new MediaRecorder(stream);
                rec.ondataavailable = e => {
                    audioChunks.push(e.data);
                    if (rec.state == "inactive") {
                        let blob = new Blob(audioChunks, { type: 'audio/mpeg-3' });
                        sendData(blob);
                    }
                };
                rec.start();
            })
            .catch(error => {
                console.error('Error accessing microphone:', error);
                startRecordingButton.disabled = false;
            });
            startRecordingButton.classList.add("button-recording");
            setTimeout(() => {
                if (rec) {
                    rec.stop();
                }
                if (audioStream) {
                    // Stop the audio stream and release resources
                    audioStream.getTracks().forEach(track => track.stop());
                }
                startRecordingButton.disabled = false;
                startRecordingButton.classList.remove("button-recording");
            }, recordingDuration);
    });


</script>
</html>